.cardContainer {
  max-width: 750px;
  width: 100%;
  resize: horizontal;
  overflow: auto;

  container-type: inline-size;
}

.card {
  display: flex;
  border-radius: 10px;
  background-color: var(--text-dark-contrast);
  overflow: hidden;
  height: 400px;
}

.previewImgContainer {
  aspect-ratio: 4 / 6;
  height: 100%;
}

.previewImgContainer img {
  height: 100%;
  display: block;
  object-fit: cover;
}

.cardInfoContainer {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cardCategory {
  color: var(--text-secondary);
  text-transform: uppercase;
  letter-spacing: 5px;
}

.addToCartBtn {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: var(--text-dark-contrast);
  background-color: var(--app-primary);
  font-family: 18px;
  padding: 13px 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  width: 100%;
  margin-top: auto;
}

.discountedPrice {
  color: var(--app-primary);
  font-weight: 600;
  font-family: var(--text-family-primary);
  font-size: 26px;
  margin-right: 20px;
}

.originalPrice {
  text-decoration: line-through;
  color: var(--text-secondary);
}

@container (max-width: 600px) {
  .card {
    flex-direction: column;
    height: 100%;
  }

  .cardTitle {
    font-size: 16px;
  }

  p,
  .originalPrice {
    font-size: 10px;
  }

  .discountedPrice {
    font-size: 20px;
  }

  .previewImgContainer {
    width: 100%;
    height: 200px;
  }

  img {
    width: 100%;
  }

  .addToCartBtn {
    font-size: 12px;
    padding: 10px 20px;
  }

  .cardInfoContainer {
    gap: 10px;
    padding: 15px;
  }
}

@container (max-width: 400px) {
  .card {
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
  }

  .cardCategory,
  .cardDescription {
    display: none;
  }

  .previewImgContainer {
    width: 125px;
    height: 125px;
    overflow: hidden;
    flex-shrink: 0;
    border-radius: 10px;
  }

  .previewImgContainer img {
    width: 100%;
  }
}

@container (max-width: 310px) {
  .card {
    padding-left: 10px;
  }

  .cardInfoContainer {
    padding: 12px;
  }

  .previewImgContainer {
    width: 100px;
    height: 100px;
  }

  .cardInfoContainer {
    overflow: hidden;
  }

  .cardTitle {
    text-overflow: ellipsis;
    text-wrap: nowrap;
    overflow: hidden;
  }

  .discountedPrice {
    margin-right: 10px;
  }

  .addToCartBtn {
    margin-left: auto;
    width: auto;
  }

  .addToCartBtn span {
    display: none;
  }
}

@container (max-width: 250px) {
  .card {
    flex-direction: column;
    padding: 10px;
  }

  .previewImgContainer {
    width: 100%;
  }

  .cardInfoContainer {
    width: 100%;
    padding: 0;
  }

  .addToCartBtn {
    width: 100%;
  }

  .cardTitle,
  .originalPrice,
  .discountedPrice {
    display: none;
  }
}
